/* Set body styles */
body {
    background: linear-gradient(to bottom, #F6D959, #FEEB90);
  }
  
  /* Set container styles */
  .container {
    position: relative;
    z-index: 1;
  }
  
  /* Set image styles */
  .container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
  }
  
  /* Set header styles */
  header {
    background-color: #0B3D91;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 72px;
    font-family: 'Retro', sans-serif;
    margin: 0;
  }
  
  /* Set main styles */
  main {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  /* Set form styles */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, select {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #0B3D91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background-color: #fff;
    color: #0B3D91;
    transition: all 0.3s ease;
  }
  
  /* Set ul styles */
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Set footer styles */
  footer {
    background-color: #0B3D91;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  